<%= form_with(model: @mussitation, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @mussitation.errors.any? %>
      <div id="error_explanation">
        <h2><%= @mussitation.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @mussitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
<% end %>
  <div class="mussitation_content">
    <%= form.label :投稿内容 %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit :決定%>
  <%= link_to '投稿一覧へ', mussitations_path %>
<% end %>
<footer>
<p>株式会社twitter</p>
</footer>
