<h1>投稿一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>投稿</th>
  </tr>
<% @mussitation.each do |mussitation| %>
  <tr>
    <td><%= mussitation.content %></td>
    <td><%= link_to "編集", edit_mussitation_path(mussitation.id) %></td>
    <td><%= link_to '削除', mussitation_path(mussitation.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to '投稿する', new_mussitation_path %>
