<header>
<a>Twitter</a>
</header>
<div class="notice">
  <p><%= notice %></p>
</div>
<table>
  <tr>
    <th>投稿</th>
  </tr>
<% @mussitation.each do |mussitation| %>
  <tr>
    <td class="content"><%= mussitation.content %></td>
    <td><button><%= link_to "編集", edit_mussitation_path(mussitation.id), data: { confirm: '本当に編集していいですか？' } %></button></td>
    <td><button><%= link_to '削除', mussitation_path(mussitation.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></button></td>
  </tr>
<% end %>
</table>
<p align="center"><button><%= link_to '投稿する', new_mussitation_path %></button></p>
<footer>
<p>株式会社twitter</p>
</footer>
